<div class="invoices-viewer">
  <h1>{{title}}</h1>

  <div class="invoices-filter">
    <!-- <datepicker class="invoice-date-picker" [(ngModel)]="dt" minMode="month" maxMode="year" datepickerMode="month" (selectionDone)="onDateChanged($event)"></datepicker> -->
    <p-calendar class="invoice-date-picker" [(ngModel)]="dt" (onSelect)="onDateChanged($event)" dateFormat="dd/mm/yy"></p-calendar>

    <div class="filter-types">
      <label>
        <input name="filterType" type="radio" value="0" [(ngModel)]="filterType">
        <span>תאריך הגשה</span>
      </label>
      <label>
        <input name="filterType" type="radio" value="1" [(ngModel)]="filterType">
        <span>תאריך חשבונית</span>
      </label>
    </div>
  </div>

  <div class="ui-space-regular">
    <button class="primary-btn" (click)="exportToCsv(invoicesTable)">ייצוא לאקסל</button>
    <button pButton class="secondary-btn" label="מחק" (click)="deleteInvoice(invoicesTable)"></button>
  </div>

  <div class="invoices-container ui-space-r-large">
    <div class="invoices-list">
      <p-dataTable [value]="invoices | invoiceFilter: {month: month, year: year, type: filterType}" scrollable="false" class="details-table stretch-width"
        #invoicesTable>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="empId" header="מספר עובד" [sortable]="true"></p-column>
        <p-column field="employeeName" header="שם עובד" [sortable]="true"></p-column>
        <p-column field="type" header="סוג" [sortable]="true"></p-column>
        <p-column field="amount" header="סכום" [sortable]="true"></p-column>
        <p-column field="_InvoiceDate" header="תאריך הגשה" [sortable]="true"></p-column>
        <p-column field="_InvoiceCreate" header="תאריך חשבונית" [sortable]="true"></p-column>
        <p-column field="image" header="צילום" [sortable]="true">
          <ng-template let-col let-invoice="rowData" pTemplate="body">
            <img #img class="pointer" [src]="getImage(invoice[col.field])" (click)="showImageDialog(img.src)">
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <p-dialog header="Title" [(visible)]="showImageDialogFlag">
      <img [src]="imageContentToShow" height="500" width="500">
    </p-dialog>
  </div>
</div>