<div class="invoices-viewer">
  <div class="invoices-viewer__filter">
    <!-- <p-calendar class="invoice-date-picker" [(ngModel)]="dt" (onSelect)="onDateChanged($event)" dateFormat="dd/mm/yy"></p-calendar> -->
    <month-picker (onDateChanged)="onDateChanged($event)"></month-picker>

    <div class="invoices-viewer__filter__types">
      <label>
        <p-radioButton name="groupname" value="0" [(ngModel)]="filterType" (onClick)="onFilterChanged()"></p-radioButton>
        <span>תאריך הגשה</span>
      </label>
      <label>
        <p-radioButton name="groupname" value="1" [(ngModel)]="filterType" (onClick)="onFilterChanged()"></p-radioButton>
        <span>תאריך חשבונית</span>
      </label>

      <button pButton label="ייצוא לאקסל" (click)="exportToCsv(invoicesTable)"></button>
      <button pButton label="מחק" (click)="deleteInvoice(invoicesTable)"></button>
    </div>
  </div>

  <div class="invoices-viewer__content ui-space-r-large">
    <div class="invoices-list">
      <p-dataTable [value]="invoices | invoiceFilter: {month: month, year: year, type: filterType}" scrollable="false" class="details-table stretch-width"
        #invoicesTable>
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="empId" header="מספר עובד" [sortable]="true"></p-column>
        <p-column field="employeeName" header="שם עובד" [sortable]="true"></p-column>
        <p-column field="type" header="סוג" [sortable]="true"></p-column>
        <p-column field="amount" header="סכום" [sortable]="true"></p-column>
        <p-column field="invoiceDate" header="תאריך הגשה" [sortable]="true">
          <ng-template let-col let-invoice="rowData" pTemplate="body">
            {{invoice[col.field] | date: 'dd/MM/yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="createDate" header="תאריך חשבונית" [sortable]="true">
          <ng-template let-col let-invoice="rowData" pTemplate="body">
            {{invoice[col.field] | date: 'dd/MM/yyyy'}}
          </ng-template>
        </p-column>
        <p-column field="image" header="צילום" [sortable]="true">
          <ng-template let-col let-invoice="rowData" pTemplate="body">
            <img #img class="pointer" [src]="getImage(invoice[col.field])" (click)="showImageDialog(img.src)">
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>

    <p-dialog header="Title" [(visible)]="showImageDialogFlag">
      <img [src]="imageContentToShow" height="500" width="500">
    </p-dialog>
  </div>
</div>