$htmlDirection:ltr;
// Base spacing
$ui-space-prefix:   unquote('.ui-space');

$ui-spacing-tiny :    5px;
$ui-spacing-small :   10px;
$ui-spacing-regular : 15px;
$ui-spacing-medium :  25px;
$ui-spacing-large :   30px;


@function htmlDirection(){
  @if ($htmlDirection == ltr) {
    @return left;
  } @else {
    @return right;
  }
}
@function htmlDirection-rev(){
  @if ($htmlDirection == ltr) {
    @return right;
  } @else {
    @return left;
  }
}

@mixin ui-space($prefix, $suffix, $size) {

  $suffix: unquote($suffix);

  #{$prefix}-#{$suffix} { padding: #{$size} !important;; }

  // top and bottom, left and right.
  #{$prefix}-tb-#{$suffix} {   padding-top: #{$size} !important; padding-bottom: #{$size} !important;;}
  #{$prefix}-lr-#{$suffix} {   padding-#{htmlDirection-rev()}: #{$size} !important; padding-#{htmlDirection()}: #{$size} !important;; }

  // top, bottom, left, right
  #{$prefix}-t-#{$suffix} {    padding-top: #{$size} !important; }
  #{$prefix}-b-#{$suffix} {    padding-bottom: #{$size} !important; }
  #{$prefix}-l-#{$suffix} {    padding-#{htmlDirection()}: #{$size} !important; }
  #{$prefix}-r-#{$suffix} {    padding-#{htmlDirection-rev()}: #{$size} !important; }

  #{$prefix}-verti-#{$suffix} {
    @extend #{$prefix}-t-#{$suffix};
  }

  // inner box spacing. for performance sake we use limited selectors
  #{$prefix}-inner-horiz-#{$suffix} {
    margin-#{htmlDirection()}: -#{$size};
    > * { padding-#{htmlDirection()}: #{$size}; ; }
  }

}

@include ui-space($suffix: 'tiny',    $prefix: $ui-space-prefix, $size: $ui-spacing-tiny);
@include ui-space($suffix: 'small',   $prefix: $ui-space-prefix, $size: $ui-spacing-small);
@include ui-space($suffix: 'regular', $prefix: $ui-space-prefix, $size: $ui-spacing-regular);
@include ui-space($suffix: 'medium',  $prefix: $ui-space-prefix, $size: $ui-spacing-medium);
@include ui-space($suffix: 'large',   $prefix: $ui-space-prefix, $size: $ui-spacing-large);



.fs75{font-size: 75px!important;}
.fs60{font-size: 60px!important;}
.fs50{font-size: 50px!important;}
.fs45{font-size: 45px!important;}
.fs40{font-size: 40px!important;}
.fs42{font-size: 42px!important;}
.fs38{font-size: 38px!important;}
.fs55{font-size: 55px!important;}
.fs36{font-size: 36px!important;}
.fs35{font-size: 35px!important;}
.fs32{font-size: 32px!important;}
.fs30{font-size: 30px!important;}
.fs28{font-size: 28px!important;}
.fs26{font-size: 26px!important;}
.fs24{font-size: 24px!important;}
.fs22{font-size: 22px!important;}
.fs20{font-size: 20px!important;}
.fs18{font-size: 18px!important;}
.fs16{font-size: 16px!important;}
.fs15{font-size: 15px!important;}
.fs14{font-size: 14px!important;}
.fs13{font-size: 13px!important;}
.fs12{font-size: 12px!important;}
.fs11{font-size: 11px!important;}
.fs10{font-size: 10px!important;}
.fs8{font-size: 8px!important;}
.fs7{font-size: 7px!important;}

.scroll-y {
  overflow-y: auto
}

.scroll-x {
  overflow-x: auto
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.stretch-height {
  height: 100%!important;
}

.stretch-width {
  width: 100%!important;
}
.relative{
  position: relative;
}

.middle{
  vertical-align: middle;
}

.in-block{
  display: inline-block;
}

.text-data{
  color: black;
  font-weight: bold;
}

.buttons-strip{
  background: #eff3ff;
  min-height: 42px;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.text-bold{  font-weight: 700;  }
.text-left{  text-align: left;  }
.text-right{  text-align: right;  }
.text-center{  text-align: center;  }
* {
  box-sizing: border-box;
}

.width-325{width:325px}
.width-250{width:250px}
.width-200{width:200px}
.width-150{width:150px}
.width-125{width:125px}
.width-100{width:100px}
.width-50{width:50px}

.sep-line{
 &[horizontal]{
   height: 1px;
   border-bottom: 1px dashed rgba(0,0,0,.4);
 }
  &[vertical="right"]{
    width: 1px;
    height: 100%;
    border-right: 1px dashed rgba(0,0,0,.4);
    border-right: 1px dashed rgba(0,0,0,.4);
    position: absolute;
    right: 0;
  }
  &[vertical="left"]{
    width: 1px;
    height: 100%;
    border-right: 1px dashed rgba(0,0,0,.4);
    position: absolute;
    left: 0;
  }
}

.ltr{
  direction: ltr;
}

.pointer{
  cursor: pointer;
}

.primary-btn{
  background-color: #bf0000;
  min-width: 120px;
  height: 22px;
  border-radius: 11px;
  background-clip: padding-box;
  border: 1px solid transparent;
  color: #fefefe;
  font-size: 14px !important;
  line-height: 22px;
  padding: 0px 35px;
  cursor: pointer;
}
