<div class="invoices-viewer">
  <h1>{{title}}</h1>

  <div class="invoices-filter">
    <datepicker class="invoice-date-picker" [(ngModel)]="dt" minMode="month" maxMode="year" datepickerMode="month"
                (selectionDone)="onDateChanged($event)"></datepicker>

    <div class="filter-types">
      <label>
        <input name="filterType" type="radio" value="0" [(ngModel)]="filterType" >
        <span>תאריך הגשה</span>
      </label>
      <label>
        <input name="filterType" type="radio" value="1" [(ngModel)]="filterType">
        <span>תאריך חשבונית</span>
      </label>
    </div>
  </div>

  <div class="ui-space-regular">
    <button class="primary-btn" (click)="exportToCsv(invoicesTable)">העתק את השורות שנבחרו</button>
  </div>

  <div class="invoices-container">
    <div class="invoices-list">
      <p-dataTable [value]="invoices | invoiceFilter: {month: month, year: year, type: filterType}"
                   scrollable="false"  class="details-table stretch-width" #invoicesTable [(selection)]="selectedInvoices">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="empId" header="מספר עובד" [sortable]="true"></p-column>
        <p-column field="employeeName" header="שם עובד" [sortable]="true"></p-column>
        <p-column field="type" header="סוג" [sortable]="true"></p-column>
        <p-column field="amount" header="סכום" [sortable]="true"></p-column>
        <p-column field="_InvoiceDate" header="תאריך הגשה" [sortable]="true"></p-column>
        <p-column field="_InvoiceCreate" header="תאריך חשבונית" [sortable]="true"></p-column>
        <p-column field="image" header="צילום" [sortable]="true">
          <template let-col let-invoice="rowData" pTemplate="body">
            <img #img class="pointer" [src]="getImage(invoice[col.field])" (click)="showImageDialog(img.src)">
          </template>
        </p-column>
      </p-dataTable>
    </div>

    <p-dialog header="Title" [(visible)]="showImageDialogFlag">
      <img [src]="imageContentToShow" height="500" width="500">
    </p-dialog>
  </div>
</div>
