<div>
  <h1>{{title}}</h1>

  <div style="float: left">
    <table>
      <tr>
        <th>עובד</th>
        <th>סוג</th>
        <th>סכום</th>
        <th>תאריך חשבונית</th>
        <th>תאריך הגשה</th>
        <th>צילום</th>
      </tr>
      <tr *ngFor="let invoice of invoices">
        <td>{{invoice.employeeName}}</td>
        <td>{{invoice.type}}</td>
        <td>{{invoice.amount}}</td>
        <td>{{convertDate(invoice.invoiceDate)}}</td>
        <td>{{convertDate(invoice.createDate)}}</td>
        <td><img width="50" height="50" [src]="getImage(invoice.image)"
                 (click)="selectedImageData = invoice.image"/></td>
      </tr>
    </table>
  </div>
  <div style="float: right">
    <img width="550" height="550" [src]="getImage(selectedImageData)"/>
  </div>
</div>
